<h4>Add student form</h4>
<body>
    <h2 align="center">Student Form</h2>
    <br>
    <div class="container">

        <h3 style="font-stretch: expanded; background-color: ivory; font-family:cursive; font-style: italic;">Fill the form nicely</h3>
        <br>
        <form>
            <label for="formGroupExampleInput">Roll.No</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="21"><br>
            <label for="formGroupExampleInput">Name</label>
            <input size="20" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Peter Parker"><br>
            <label for="formGroupExampleInput">Semester</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="6"><br>
            <label for="formGroupExampleInput">Major</label>
            <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Computer Science"><br>
            <label for="formGroupExampleInput2">Address</label>
            <input type="text" class="form-control" id="formGroupExampleInput5"
                   placeholder="Narefat-23,Kathmandu,Nepal"><br>


            <label for="fgender">Gender: </label><br>

            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                           checked>
                    <label class="form-check-label" for="gridRadios1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Female
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                    <label class="form-check-label" for="gridRadios3">
                        Others
                    </label>
                </div>
            </div>
            <label for="formGroupExampleInput3">Contact</label>
            <input type="number" class="form-control" id="formGroupExampleInput3" placeholder="9815773419"><br>
            <label for="DOB">DOB: </label><br>
            <input type="date" class="form-control" min=""><br><br>
            <label for="bio">Biography: </label><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="My name is....."></textarea>

            <br><button type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>


</body>
