@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="/img/College Management System.png" height="200" />
    <br /><br /><br /><br />
    <h3 class="display-1">Welcome to College Management System</h3>
</div>
